body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.sliders {
  display: flex;
  flex-flow: row nowrap;
  height: 90vh;
  width: 90vw;
}

.sliders > div {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: rgb(240, 240, 240);
}

.sliders.show {
  order: 0;
  width: 100%;
  transition: width .4s;
}

.sliders div.hide {
  width: 0;
  transition: width .4s;
}

.hide > h1, .next > h1, .previous > h1 {
  visibility: hidden;
}

h1 {
  width: auto;
  background-color: rgba(0, 0, 0, .3);
  color: rgb(240, 240, 240);
}

.sliders div.next {
  order: 1;
  width: 0;
  transition: width .4s;
}

.sliders div.previous {
  order: -1;
  width: 0;
  transition: width .4s;
}

.sliders__no1 {
  background: url("./imgs/High\ Sierra.jpg") center center no-repeat fixed;
  background-size: 100% 100%;
}

.sliders__no2 {
  background: url("./imgs/Mojave\ Day.jpg") center center no-repeat fixed;
  background-size: 100% 100%;
}

.sliders__no3 {
  background: url("./imgs/Mojave\ Night.jpg") center center no-repeat fixed;
  background-size: 100% 100%;
}

.sliders__no4 {
  background: url("./imgs/Sierra.jpg") center center no-repeat fixed;
  background-size: 100% 100%;
}

.controls__fwBtn, .controls__bwBtn {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50% 50%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 3;
}

.controls__fwBtn:hover, .controls__bwBtn:hover {
  background-color: rgba(255, 255, 255, .3);
}

.controls__fwBtn {
  top: 50%;
  right: 10%;
}

.controls__bwBtn {
  top: 50%;
  left: 10%;
}

.controls > div > div {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  border-top: solid 5px whitesmoke;
  border-right: solid 5px whitesmoke;
}

.controls__fwBtn--arrow {
  transform: translate(-50%, -50%) rotate(45deg);
}

.controls__bwBtn--arrow {
  transform: translate(-50%, -50%) rotate(-135deg);
}
